<main>
  <div class="crt">
    <pre class="termial">
      <code>
██╗    ██╗███████╗███████╗██╗     ███████╗██╗   ██╗
██║    ██║██╔════╝██╔════╝██║     ██╔════╝╚██╗ ██╔╝
██║ █╗ ██║█████╗  ███████╗██║     █████╗   ╚████╔╝ 
██║███╗██║██╔══╝  ╚════██║██║     ██╔══╝    ╚██╔╝  
╚███╔███╔╝███████╗███████║███████╗███████╗   ██║   
 ╚══╝╚══╝ ╚══════╝╚══════╝╚══════╝╚══════╝   ╚═╝   
                                                    
██████╗ ██╗   ██╗███████╗███████╗██╗     ██╗       
██╔══██╗██║   ██║██╔════╝██╔════╝██║     ██║       
██║  ██║██║   ██║███████╗█████╗  ██║     ██║       
██║  ██║██║   ██║╚════██║██╔══╝  ██║     ██║       
██████╔╝╚██████╔╝███████║███████╗███████╗███████╗  
╚═════╝  ╚═════╝ ╚══════╝╚══════╝╚══════╝╚══════╝ 
               *     ,MMM8&&&.            *
                    MMMM88&&&&&    .
                   MMMM88&&&&&&&
       *           MMM88&&&&&&&&
                   MMM88&&&&&&&&
                   'MMM88&&&&&&'
                     'MMM8&&&'      *    
            |\___/|     /\___/\
            )     (     )    ~( .              '
           =\     /=   =\~    /=
             )===(       ) ~ (
            /     \     /     \
            |     |     ) ~   (
           /       \   /     ~ \
           \       /   \~     ~/
 _/\_/\_/\_/\__  _/_/\_/\__~__/_/\_/\_/\_/\_/\_
 |  |  |  |  |( (  |  |  | ))  |  |  |  |  |  |
 |  |  |  |  | ) ) |  |  |//|  |  |  |  |  |  |
 |  |  |  |  |(_(  |  |  (( |  |  |  |  |  |  |
 |  |  |  |  |  |  |  |  |\)|  |  |  |  |  |  |
 |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  | 
guest@SERVER-CLVHBK8:~/GIT/stack-resume/resume-angular (main)$: <input>
      </code>
    </pre>
    <!-- <div class="overlay">MDA</div> -->
  </div>
</main>