<main>
  <div class="crt">
    <pre class="termial">
      <code>
██╗    ██╗███████╗███████╗██╗     ███████╗██╗   ██╗
██║    ██║██╔════╝██╔════╝██║     ██╔════╝╚██╗ ██╔╝
██║ █╗ ██║█████╗  ███████╗██║     █████╗   ╚████╔╝ 
██║███╗██║██╔══╝  ╚════██║██║     ██╔══╝    ╚██╔╝  
╚███╔███╔╝███████╗███████║███████╗███████╗   ██║   
 ╚══╝╚══╝ ╚══════╝╚══════╝╚══════╝╚══════╝   ╚═╝   
                                                    
██████╗ ██╗   ██╗███████╗███████╗██╗     ██╗       
██╔══██╗██║   ██║██╔════╝██╔════╝██║     ██║       
██║  ██║██║   ██║███████╗█████╗  ██║     ██║       
██║  ██║██║   ██║╚════██║██╔══╝  ██║     ██║       
██████╔╝╚██████╔╝███████║███████╗███████╗███████╗  
╚═════╝  ╚═════╝ ╚══════╝╚══════╝╚══════╝╚══════╝  
guest@SERVER-CLVHBK8:~/GIT/stack-resume/resume-angular (main)$:
      </code>
    </pre>
    <div class="overlay">MDA</div>
  </div>
</main>